<p-table [columns]="cols" [value]="ofs" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10" [first]="first">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th id="col" *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
        <tr>
            <th id="col" *ngFor="let col of columns">
                <p-columnFilter type="text" field={{col.header}}></p-columnFilter>
            </th>
        </tr>

    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
